@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Anybody-Bold";
  src: url(./assets//Fonts/Anybody/Anybody-Bold.otf);
}

@font-face {
  font-family: "Archivo-Bold";
  src: url(./assets//Fonts/Archivo/Archivo-Bold.ttf);
}

@font-face {
  font-family: "Archivo-Light";
  src: url(./assets//Fonts/Archivo/Archivo-Light.ttf);
}

@font-face {
  font-family: "Archivo-Medium";
  src: url(./assets//Fonts/Archivo/Archivo-Medium.ttf);
}

@font-face {
  font-family: "Archivo-Thin";
  src: url(./assets//Fonts/Archivo/Archivo-Thin.ttf);
}